* {
	margin: 0;
	padding: 0;
	vertical-align: bottom;
}

html, body {
	height: 100%;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
	position: relative;
}

h1 {
	font-weight: 300;
    font-size: 2.4em;
    color: #CE1717;
}

h2 {
	font-weight: 300;
	font-size: 1.6em;
	line-height: 1.3em;
	color: #444444;
	margin: 1em 0;
}

.entry-date {
	display: block;
	color: #888888;
	font-size: 1em;
}

h3 {
	color: #888;
}

a {
	color: #CE1717;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#top-email {
	font-size: 1em;
	text-align: center;
	display: block;
	margin-top: 10px;
}

p {
	line-height: 1.4em;
	margin: 1.2em 0;
	color: #333333;
}

p strong {
	color: #000000;
}

aside.note {
	font-size: 0.8em;
	color: #888888;
}

sub, sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sup {
	top: -0.3em;
}

#top-bar {
	position: fixed;
	top: 0;
	left: 0;
	height: 15px;
	line-height: 15px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	font-family: monospace;
	color: #ffffff;
	overflow-x: hidden;
	width: 0%;
	background-color: #aadd00;
	z-index: 20;
	transition: all 0.5s ease;
}

.top-wrapper {
	padding: 0 40px 20px;
}

.inline-block {
	display: inline-block;
}

#main-sidebar {
	width: 30%;
	min-height: 100%;
	background-color: #efefef;
	position: absolute;
	left: 0;
	top: 0;
}

#main-sidebar img {
	max-width: 100%;
	height: auto;
}

#webtoure {
	display: block;
	color: #CE1717;
	text-decoration: none;
	padding-top: 20px;
}

#webtoure img {
	max-width: 100px;	
	border-radius: 20px;
	box-shadow: 0 10px 40px #aaaaaa;
	height: auto;
	display: block;
	margin: 0 auto 20px;
}

.center-text {
	text-align: center;
}

#main-content {
	width: 70%;
	min-height: 100%;
	background-color: #ffffff;
	position: absolute;
	left: 30%;
	top: 0;
}

@media (max-width: 860px) {
	body {
		background-color: #ffffff;	
	}
	
	#main-sidebar, #main-content {
		width: 100%;
		min-height: auto;
		position: static;
		left: auto;
		top: auto;		
	}
	
	#main-sidebar {
		height: 175px;
	}	

	h1 {
		font-size: 2em;
	}

	#webtoure img {
		max-width: 80px;	
		border-radius: 10px;
		margin: 0 auto 10px;
	}

	.top-wrapper {
		padding: 0 20px 20px;
	}

	#top-email {
		font-size: 0.8em;
		margin-top: 5px;
	}		
}